html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

/* Global dark mode */
html.dark body {
  background: #2a241a;
  color: #f3e9d2;
}

html.dark .blog-post-content {
  color: #e0d8c8;
}

html.dark .blog-post-content h2 {
  color: #f3e9d2;
}

html.dark .admin {
  color: #f3e9d2;
}

html.dark .admin-title {
  color: #f3e9d2;
}
